@import './reset.css';

.container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: right;
}

.main__text__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__text {
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}

.user {
    color: white;
}

.user__name {
    font-size: 32px;
    color: white;
    margin-bottom: 50px;
}

.input__container {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 350px;
    height: 40px;
}

.user__name__input {
    width: 100%;
    height: 100%;
    padding: 10px 0 0 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 50px;
}

.label {
    position: absolute;
    height: 100%;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 0 25px 15px;
}

.user__name__input:focus ~ .label {
    font-size: 12px;
    padding: 0 0 40px 15px;
    transition: all 0.2s linear;
}

.under__line {
    position: absolute;
    left: 5.5px;
    top: 17.7px;
    width: 97%;
    height: 2.2px;
    border-radius: 20px;
    background-color: orange;
    transition: all 0.2s ease-in-out;
}

.clock {
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.to__do__link {
    color: white;
    text-decoration: none;
}

.to__do__link:active {
    text-decoration: none;
}

.to__do__link h1 {
    color: white;
}

.to__do__link h1:hover {
    color: black;
    transition: color 0.4s linear;
}

.hidden {
    display: none;
}
